DATABASE_URL="postgresql://rsw:rsw@localhost:5432/rsw?schema=public"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
SEED_ADMIN_EMAIL="admin@rsw.local"
SEED_ADMIN_PASSWORD="changeme123"
SEED_ADMIN_USERNAME="admin"
